@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

 :root {
    --background-color: #7cadf0;
    --f-regular: 'Architects Daughter', cursive;
    --f-bold: 'Permanent Marker', cursive;
}

body {
    background: rgb(93,218,251);
    background: linear-gradient(180deg, rgba(93,218,251,1) 0%, rgba(87,161,228,1) 6%, rgba(96,144,231,1) 11%, rgba(105,153,219,1) 19%, rgba(105,153,219,1) 25%, rgba(124,173,240,1) 44%, rgba(124,173,240,1) 80%, rgba(93,218,251,1) 100%);
    background-repeat: repeat;
    width: 100%;
    margin:0px;
}
.header-content {
    text-align: center;
}

.header-content h1 {
    font-family: var(--f-bold);
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 2px #f17312;
    letter-spacing: 3px;
    font-size: 55px;
    margin-top: 10px;
}

.header-content h2 {
    font-family: var(--f-regular);
    letter-spacing: 2px;
    font-size: 20px;
    color: rgb(41, 41, 41);
    margin-top: -15px;
}

.header-content h3 {
    font-family: var(--f-regular);
    margin-top: -10px;
    font-size: 20px;
    color: rgb(48, 48, 48);
}

h4 {
    color: rgb(255, 255, 255);
    font-family: var(--f-regular);
    font-size: 20px;
    text-align: center;
    margin: 10px auto 25px auto;
    width: 70%
}

h4 span {
    color: rgb(207, 22, 31);
    font-size: 35px;
    margin-left: 5px;
}

.screen-container {
    background: url(../img/hangman_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
    margin-top: 20px;
}

.alphabet-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: center;
    align-content: center;
    max-width: 30%;
    margin: 5px auto;
}

.alphabet-container p {
    padding-top: 3.5px;
}

.letter {
    background: #eb7e2b;
    margin: 3px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 3px rgba(51, 51, 97,0.5);
    width: 40px;
    height: 35px;
    text-align: center;
    font-family: var(--f-bold);
    font-size: 25px;
    color: rgb(107, 47, 13);
    cursor: pointer;
}

/* .choosen-letter {
    background: rgba(235, 126, 43, 0.5);
    margin: 3px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 3px rgba(77, 77, 77, 0.5);
    width: 40px;
    height: 35px;
    text-align: center;
    font-family: var(--f-bold);
    font-size: 25px;
    color: rgb(107, 47, 13);
}
 */
.word-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 80%;
    margin: 0 auto;
}

.word-hidden {
    color: black;
    text-align: center;
    align-self: center;
    border-bottom: 3.7px solid black;
    width: 40px;
    margin-bottom: 20px;
    padding: 5px;
    font-family: var(--f-regular);
    font-size: 30px;
}

.word-visible {
    user-select: none;
    text-align: center;
    align-self: center;
    border-bottom: 3.7px solid black;
    width: 40px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: var(--f-regular);
    font-size: 30px;
}

.phrase_hint {
    height: 20px;
    font-family: var(--f-regular);
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
}

.lifes-countdown {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
    align-items: center;
    justify-content: center;
}

.heart {
    background: url(../img/heart.png);
    background-size: contain;
    width: 40px;
    height: 40px;
}


.timer {
    background: rgb(44, 52, 168);
    box-shadow: 1px 1px 2px 2px rgba(51, 51, 97, 0.5);
    width: 170px;
    height: 40px;
    border-radius: 7px;
    margin: 25px auto 0 auto;
    color: white;
    text-align: center;
    padding-top: 6px;
    font-family: 'audiowide';
    font-size: 30px;
}
.countdown {
    margin-top: 20px;
}

/* Botones */

.buttons-game {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn-hint,
.btn-play-again {
    background: linear-gradient(to bottom, rgba(135, 189, 240, 1) 0%, rgba(8, 80, 156, 1) 100%);
    color: #ffffff;
    font-size: 20px;
    font-family: var(--f-regular);
    width: 170px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid rgb(126, 126, 235);
    box-shadow: 4px 4px 4px rgba(51, 51, 97, 0.5);
    cursor: pointer;
    outline: none;
    margin-bottom: 30px;
}

button:hover {
    color: rgb(235, 206, 129);
    box-shadow: 0px 0px 15px 7px rgb(225, 232, 243);
}

.btn-2 {
    margin-left: 20px;
}

.imageHangman1{
    background: url(../img/hangman_trip-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
    margin-top: 20px;
}

.imageHangman2{
    background: url(../img/hangman_trip-02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
    margin-top: 20px;
}

.imageHangman3{
    background: url(../img/hangman_trip-03.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
    margin-top: 20px;
}

.imageHangman4{
    background: url(../img/hangman_trip-04.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
    margin-top: 20px;
}

.imageHangman5{
    background: url(../img/hangman_trip-05.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
    margin-top: 20px;
}

.imageHangman6{
    background: url(../img/hangman_trip-06.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
    margin-top: 20px;
}

.imageHangman7{
    background: url(../img/hangman_trip-07.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
    margin-top: 20px;
}

.imageHangman8{
    background: url(../img/hangman_trip-08.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
    margin-top: 20px;
}

.imageHangman9{
    background: url(../img/hangman_trip-09.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
    margin-top: 20px;
}

.imageHangman10{
    background: url(../img/hangman_trip-10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 450px;
    margin-top: 20px;
}
















